/* Commenting discovered from https://stackoverflow.com/a/20192639 */
/* From UChicago Technical Workshop on ??/??/2021 */
html, body {
  width: 100%;
  margin: auto; 
  background-color: #00FF00;
}

.header {
  width: 100%;
  position: relative;
}
